.diagram {
  display: none;
  }
@media (min-width: @tablet-width) {
  .diagram {
    //min-width: 620px;
    display: block;
  }
  .diagram__wrapper {
    width: 640px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    margin-bottom: 70px;
  }
  .diagram__icon {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 175px;
    margin-left: 40px;
    border: 15px solid #d22856;
    border-radius: 50%;
    font-size: 96px;
    font-weight: bold;
    color: #d22856;
    &::before {
      position: absolute;
      content: '';
      width: 238px;
      height: 276px;
      top: 46px;
      left: 25px;
      background-image: url(../img/timer-svg.png);
      z-index: -1;
    }
  }
  .diagram-list {
    padding-left: 90px;
    margin: 0;
    width: 295px;
    display: flex;
    font-size: 14px;
    text-align: left;
    list-style: none;
    color: #283645;
  }
 .diagram-list__title {
    margin: 0;
    width: 180px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;

    color: #000000;
  }
  .diagram-list__link {
    color: #d22856;
  }
}
@media (min-width: @desktop-width) {
  .diagram {
    position: relative;
    //min-width: 1200px;
    background-color: #f2f2f2;
    z-index: -3;
  }
  .diagram__wrapper {
    min-width: 960px;
    width: 100%;
    margin: 0 auto;
    //padding-left: 60px;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 0;
    padding-bottom: 110px;
     }
  .diagram-list__title {
    width: 530px;
    line-height: 30px;
  }
  .diagram-list {
    width: 520px;
    font-size: 18px;
    line-height: 30px;
  }
  .diagram-list__item{
    width: 570px;
  }

}
