
.main-applications {
  background-image: url(../img/iphone-hand-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 0 43% ;
}
.main-applications__link {
  display: block;
  padding-top: 500px;
  text-align: center;
  margin-bottom: 40px;

}
.main-applications__link--download {
  padding-top: 10px;
  padding-right: 39px;
  padding-bottom: 10px;
  padding-left: 40px;
  text-decoration: none;
  line-height: 18px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 150px;

}
.main-applications__list {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  margin-bottom: 20px;
}
.main-applications__description {
  width: 229px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
