.main-applications {
  position: relative;
  background-color: #1d2631;
  &:before {
    content: '';
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
    height: 462px;
    background-image: url('../img/bg-back-mobile@1x.jpg');
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  &:after {
    content: '';
    position: absolute;
    width: 258px;
    height: 286px;
    top: 100px;
    left: 0;
    background-image: url('../img/iphone-hand-mobile@1x.png');
    background-size: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;

  }
}
.main-applications__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 386px;
  text-align: center;

}
.main-applications__link--download {
  padding-top: 10px;
  padding-right: 39px;
  padding-bottom: 10px;
  padding-left: 40px;
  text-decoration: none;
  line-height: 18px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 150px;
  box-sizing: border-box;
  margin-top: 28px;
  margin-bottom: 40px;

}
.main-applications__list {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  margin-bottom: 20px;
}
.main-applications__description {
  width: 230px;
  margin: 0 auto;
  padding-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.page-main__title {
  display: none;
}
@media (min-width: @tablet-width) {
  .main-applications {
    &::before {
      width: 100%;
      height: 729px;
      background-image: url(../img/bg-back-tablet@1x.jpg);
      background-position: center -40px;
    }
    &::after {
      width: 100%;
      height: 505px;
      top: 110px;
      background-image: url(../img/iphone-hand-tablet@1x.png);
      background-position: center;
  }
  .main-applications__wrapper {
    position: relative;
    z-index: 3;
    width: 300px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .page-main__title {
    display: block;
    width: 186px;
    padding-top: 75px;
    padding-left: 35px;
    margin: 0;
    font-size: 40px;
    line-height: normal;
    color: #ffffff;
  }
  .main-applications__link {
    padding: 0;
    padding-left: 10px;
    text-align: left;
  }
  .main-applications__link--download {
    padding-top: 20px;
    padding-right: 49px;
    padding-bottom: 19px;
    padding-left: 49px;
  }
  .main-applications__description {
    width: 300px;
    margin: 0;
    margin-bottom: 80px;
    padding-left: 22px;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
  }

}
}
