.page-header {
  min-width: 320px;
  padding: 0;
  margin: 0 auto;
  background-color: #283645;
}
.page-header__logo-image {
  padding-left: 20px;
  padding-top: 22px;
  padding-bottom: 25px;
}
@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
  }
}
